<p>Users#show</p>
<p>Find me in app/views/users/show.html.erb</p>
<div>User <h1><%= @user.firstname %> <%= @user.lastname %></h1> profile page</div>

<small>It needs to add next time</small>

<p>Find doctor</p>
<p>My vizits</p>
<p>My assignments</p>

<p><%= link_to 'Back', root_path %></p>