<p>Users#show</p>
<p>Find me in app/views/users/show.html.erb</p>
<div>User <h1><%= @user.firstname %> <%= @user.lastname %></h1> profile page</div>

<small>It needs to add next time</small>
<strong>Patient partial</strong>
<p>Find doctor</p> - Link
<p>My vizits</p>
<p>My assignments</p>

*** OR ***

<strong>Doctor partial</strong>
<p>Check vizits</p>
<p>Recomendation I gave</p>

<p><%= link_to 'Back', root_path %></p>